##########################################
## IGNORES for the Quartus Project and any temp files created from docs
## WIP
#########################################

###
### QuartusII
###

*.bak
**/db
**/incremental_db
*.done
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.qws